<!-- templates/core/login.html -->
{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<style>
  html:not([data-theme="dark"]) .fbl-login-logo--dark { display: none; }
  html[data-theme="dark"] .fbl-login-logo--light { display: none; }
  html[data-theme="dark"] .fbl-login-logo--dark { display: block; }
</style>
<div class="self-center w-full max-w-xl mx-auto p-4">
  <div class="p-4">
    <img class="fbl-login-logo--light" src="https://static.fblacklight.org/logo_full_bl.svg" style="height: 80px;" alt="FBL Logo">
    <img class="fbl-login-logo--dark" src="https://static.fblacklight.org/logo_full.svg" style="height: 80px;" alt="FBL Logo">
  </div>
  <div class="flex items-center">
    <h1 class="text-3xl font-bold p-2">{% trans 'Log In' %}</h1>
    <div class="flex-grow"></div>
    <a href="https://profile.fblacklight.org/signup" target="_blank" class="btn btn-sm btn-neutral">{% trans 'Register Account' %}</a>
  </div>
  <div class="bg-base-200 rounded p-8">

    {% include 'partials/sso_login.html' with general_login=False %}

  </div>
</div>
{% endblock %}